* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eu-en.colloc.t1x -text
/apertium-eu-en.en-eu.lrx -text
/apertium-eu-en.en.metadix -text
/apertium-eu-en.eu-en.dix -text
/apertium-eu-en.eu-en.t1x -text
/apertium-eu-en.eu-en.t2x -text
/apertium-eu-en.eu-en.t3x -text
/apertium-eu-en.eu.dix -text
/apertium-eu-en.eu.tsx -text
/apertium-eu-en.ordinals.t1x -text
/apertium-eu-en.post-en.dix -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
corpus/metamorphosis.tmx -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_postpositions.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/chunk-to-post-es-en.sh -text
dev/chunk-to-post-es.sh -text
dev/chunk-to-post.sh -text
dev/cross-model-eu-es-en.xml -text
dev/cross.xml -text
dev/generation-summary.eu-en.txt -text
dev/missing-bidix-freq.sh -text
/eu-en.prob -text svneol=unset#unset
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/principal.xsl -text
/testvoc-eu-en -text
